{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="{% static "news/js/vue.js" %}" ></script>
    <script src="{% static "news/js/vuex.js" %}" ></script>
    <script src="{% static "news/js/api.js" %}" ></script>

    <title>News</title>

    <style>
        .article-container {
            border: 1px solid lightgray;
            margin: 10px;
            padding: 10px;
        }

        .article-image-container img {
            width: 500px;
            height: 300px;
        }
    </style>

</head>
<body>
    <div id="vue-app-root">
        <h3> ${ title } </h3>

        <button @click="toggleAddCategoryForm">Add category</button>
        <button @click="toggleAddArticleForm">Add article</button>

        <br/>
        <br/>

        <div v-if="showAddCategoryForm" >
            <fieldset>
                <legend>Add category</legend>
                <input placeholder="category name" :value="categoryForm.name" @input="updateCategoryName" type="text">
                <button @click="addCategory">Add</button>
            </fieldset>
        </div>

        <div v-if="showAddArticleForm" >
            <fieldset>
                <legend>Add article</legend>
                <table>
                    <tbody>
                        <tr>
                            <td>Title</td>
                            <td> <input :value="articleForm.title" @input="updateArticleTitle" type="text" /> </td>
                        </tr>
                        <tr>
                            <td>Category</td>
                            <td>
                                <select @change="updateArticleCategory">
                                    <option selected disabled>Select category</option>
                                    <option v-for="(category, idx) in categories" :key="idx" :value="category.id" >
                                        ${ category.name }
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Text</td>
                            <td>
                                <textarea :value="articleForm.text" @input="updateArticleText"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>Image</td>
                            <td>
                                <input @change="changeImage" type="file">
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <button @click="addArticle" > Add </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
        </div>

        <span> Category filter: </span>
        <select @change="setCategoryFilter">
            <option selected value="all">all</option>
            <option v-for="(category, idx) in categories" :key="idx" :value="category.id" > ${ category.name } </option>
        </select>

        <div>
            <div class="article-container" v-for="(article, idx) in news.results" :key="idx">
                <h4> ${ article.title } | ${ article.added_date }</h4>
                <div class="article-image-container">
                    <img :src="article.image" alt="Article image">
                </div>
                <hr>
                <div> ${ article.text } </div>
            </div>
        </div>

        <div>
            <span style="cursor: pointer" @click="showPreviousNews">Prev</span>
            &nbsp;|&nbsp;
            <span style="cursor: pointer" @click="showNextNews">Next</span>
            &nbsp;
            <span style="color: gray">Count ${ news.count }</span>
        </div>

    </div>

    <script>
        Vue.use(Vuex)
        Vue.options.delimiters = ['${', '}'] //avoid django and vue template language conflict

        const store = new Vuex.Store({
            strict: true,
            state: {
                title: 'Welcome to News app',
                categories: [],
                news: {},
                showAddArticleForm: false,
                showAddCategoryForm: false,
                categoryForm: {
                    name: ''
                },
                articleForm: {
                    title: '',
                    category: undefined,
                    image: undefined,
                    text: '',
                },
                categoryFilter: 'all',
            },
            mutations: {
                setCategories (state, categories) {
                    state.categories = categories
                },
                setNews (state, news) {
                    state.news = news
                },
                toggleAddCategoryForm (state, show) {
                    state.showAddCategoryForm = show === undefined ? !state.showAddCategoryForm : show
                },
                toggleAddArticleForm (state, show) {
                    state.showAddArticleForm = show === undefined ? !state.showAddArticleForm : show
                },
                changeImage (state, image) {
                    state.articleForm.image = image
                },
                setCategoryFilter (state, categoryId) {
                    state.categoryFilter = categoryId
                },
                updateCategoryName (state, name) {
                    state.categoryForm.name = name
                },
                updateArticleTitle (state, title) {
                    state.articleForm = Object.assign({}, state.articleForm, { title })
                },
                updateArticleCategory (state, categoryId) {
                    state.articleForm = Object.assign({}, state.articleForm, { category: categoryId })
                },
                updateArticleText (state, text) {
                    state.articleForm = Object.assign({}, state.articleForm, { text })
                }
            },
            actions: {
                getCategories (context) {
                    fetchCategories().then(categories => context.commit('setCategories', categories))
                },
                getNews (context, url) {
                    const { categoryFilter } = context.state;
                    const categoryId = categoryFilter && categoryFilter !== 'all' ? categoryFilter : undefined;

                    fetchNews(url, categoryId).then(news => context.commit('setNews', news))
                },
                toggleAddCategoryForm (context) {
                    context.commit('toggleAddCategoryForm')
                },
                toggleAddArticleForm (context) {
                    context.commit('toggleAddArticleForm')
                },
                addCategory (context) {
                    context.dispatch('toggleAddCategoryForm')
                    addCategory(context.state.categoryForm.name)
                        .then(addedCategory => context.dispatch('getCategories'))
                },
                addArticle (context) {
                    context.dispatch('toggleAddArticleForm')
                    addArticle(context.state.articleForm)
                        .then(addedArticle => context.dispatch('getNews'))
                },
                changeImage (context, image) {
                    context.commit('changeImage', image)
                },
                setCategoryFilter (context, categoryId) {
                    context.commit('setCategoryFilter', categoryId)
                    context.dispatch('getNews')
                },
                updateCategoryName (context, name) {
                    context.commit('updateCategoryName', name)
                },
                updateArticleTitle (context, title) {
                    context.commit('updateArticleTitle', title)
                },
                updateArticleCategory (context, categoryId) {
                    context.commit('updateArticleCategory', categoryId)
                },
                updateArticleText (context, text) {
                    context.commit('updateArticleText', text)
                },
            }
        });

        const app = new Vue({
           el: '#vue-app-root',
           store,
           created () {
             this.$store.dispatch('getCategories')
             this.$store.dispatch('getNews')
           },
           computed: {
               ...Vuex.mapState([
                   'categories',
                   'news',
                   'title',
                   'showAddArticleForm',
                   'showAddCategoryForm',
                   'categoryForm',
                   'articleForm',
                   'categoryFilter',
               ]),
           },
           methods: {
               ...Vuex.mapActions([
                   'toggleAddCategoryForm',
                   'addCategory',
                   'addArticle',
                   'toggleAddArticleForm',
               ]),
               setCategoryFilter (event) {
                   this.$store.dispatch('setCategoryFilter', event.target.value)
               },
               changeImage (event) {
                   this.$store.dispatch('changeImage', event.target.files[0])
               },
               updateCategoryName (event) {
                   this.$store.dispatch('updateCategoryName', event.target.value)
               },
               updateArticleTitle (event) {
                   this.$store.dispatch('updateArticleTitle', event.target.value)
               },
               updateArticleCategory (event) {
                   this.$store.dispatch('updateArticleCategory', event.target.value)
               },
               updateArticleText (event) {
                   this.$store.dispatch('updateArticleText', event.target.value)
               },
               showNextNews () {
                   const nextUrl = this.$store.state.news.next;
                   if (nextUrl) {
                       this.$store.dispatch('getNews', nextUrl)
                   }
               },
               showPreviousNews () {
                   const prevUrl = this.$store.state.news.previous;
                   if (prevUrl) {
                       this.$store.dispatch('getNews', prevUrl)
                   }
               }
           }
        })
    </script>
</body>
</html>